@charset "utf-8";

*{
    font-family: Berlin Sans FB, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('img3.jpg');
    border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
    height: 100vh;
    background-position: 0% 9%;
    background-size: cover;
    background-position: center;
}
.clearfix {
    clear:both;
}
html,body{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}
.main-nav{
    margin-left: 600px;
    list-style: none;
    left: 70px;
}
.main-nav li{
    display: inline-block;
}
.main-nav li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    border-radius: 5px;
}
.main-nav li.active a{
    border: 1px solid white;
}
.main-nav li a:hover{
    border: 1px solid white;
}
.logo img
{
    width: 150px;
    height:auto;
    float: left;
    border-radius: 5px;
}
body{
    font-family: monospace;
}
.row{
    max-width: 1200px;
    margin: auto;
}
.hero{
    position: center;
    width: 1200px;
    margin-left: 0px;
    margin-top: 100px;
    text-decoration-color: white;
}

#h{
    color: white;
    text-decoration-color: white
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
    align-content: center;
}
.btn{
    border: 1px solid white;
    padding: 10px 60px;
    color: #fff;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}
.button{
    margin-top: 30px;
    margin-left: 440px;
    text-decoration: none;
}

.btn-one
{
    background-color: darkorange;
    font-family: "Roboto",sans-serif;
}
.btn-two{
    
    font-family: "Roboto",sans-serif;
}
.btn-two:hover{
    background-color: lightblue;
    text-decoration: none;
    transition: all 0.009s ease-out;
}
p{
    font-size: 22;
}
-----------------------------------------
body{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
section.cover{
    margin-top: 1px;
  background: linear-gradient(45deg,#151680 50%,#261681 50%);
  padding: 20px 10%;
	border-bottom: 50px solid transparent;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
div.cta-btn{
  margin: 200px 0 90px 0;
}
div.cta-btn a{
  padding: 40px 40px;
  background-color: #D20B54;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
}
section.cover .content .heading{
  font-size: 2.5rem;
  font-weight: 500;
}
section.cover .content{
  color: #fff;
  padding: 40px 0;
  position: relative;
}
section.cover .content .highlight{
  font-size: 10px;
}
section.cover .content .card{
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 300px;
  padding: 70px 72px;
  background-color: #fff;
  color: #888;
  border-radius: 5px;
  transition: 200ms all ease-in-out;
  cursor: pointer;
}
section.cover .content .card:hover{
  transform: translateY(-5px);
  color: #222;
}


-----------------------------------------------
* {
	padding:0;
	margin:0;
}
body {
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	background:#f2f2f2;
}
.cover1{
    margin-top: 2px;
    background: linear-gradient(45deg,#7FDBFF 50%, #39CCCC 50%);
  padding: 20px 10%;
    border-bottom: 50px solid transparent;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.bg_img {
	background-size:cover;
	background-attachment:fixed;
	-webkit-filter: blur(8px);
	-moz-filter: blur(8px);
	-o-filter: blur(8px);
	-ms-filter: blur(8px);
	filter: blur(8px);
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:0;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
.form_wrapper {
	background:#fff;
	width:500px;
	max-width:100%;
	box-sizing:border-box;
	padding:15px;
	margin:10% auto 0;
	position:relative;
	z-index:1;
	-webkit-box-shadow:0 23px 4px -21px rgba(0, 0, 0, 0.9);
	-moz-box-shadow:0 23px 4px -21px rgba(0, 0, 0, 0.9);
	box-shadow:0 23px 4px -21px rgba(0, 0, 0, 0.9);
}
.form_container {
	padding:15px;
	border:1px dashed #ccc;
}
.form_wrapper h2 {
	font-size:1.5em;
	line-height:1.5em;
	margin:0;
}
.form_wrapper .title_container {
	text-align:center;
	margin:-15px -15px 15px;
	padding:15px 0;
	border-bottom:1px dashed #ccc;
}
.form_wrapper h3 {
	font-size:1.1em;
	font-weight:normal;
	line-height:1.5em;
	margin:0;
}
.form_wrapper .row {
	margin:10px -15px;
}
.form_wrapper .row > div {
	padding:0 15px;
	box-sizing:border-box;
}
.form_wrapper .col_half {
	width:50%;
	float:left;
}
.form_wrapper label {
	display:block;
	margin:0 0 5px;
}
.form_wrapper .input_field, .form_wrapper .textarea_field {
	position:relative;
}
.form_wrapper .input_field > span, .form_wrapper .textarea_field > span {
	position:absolute;
	left:0;
	top:0;
	color:#333;
	height:100%;
	border-right:1px solid #ccc;
	text-align:center;
	width:30px;
}
.form_wrapper .textarea_field > span {
	border-bottom:1px solid #ccc;
	max-height:35px;
}
.form_wrapper .input_field > span > i, .form_wrapper .textarea_field > span > i {
	padding-top:12px;
}
.form_wrapper input[type="text"], .form_wrapper input[type="email"], .form_wrapper input[type="tel"], textarea {
	width:100%;
	padding:10px 10px 10px 35px;
	border:1px solid #ccc;
	box-sizing:border-box;
	outline:none;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}
.form_wrapper textarea {
	height:8em;
}
.form_wrapper input[type="text"]:focus, .form_wrapper input[type="email"]:focus, .form_wrapper input[type="tel"]:focus, textarea:focus {
	-webkit-box-shadow:0 0 2px 1px rgba(255, 169, 0, 0.5);
	-moz-box-shadow:0 0 2px 1px rgba(255, 169, 0, 0.5);
	box-shadow:0 0 2px 1px rgba(255, 169, 0, 0.5);
	border:1px solid #f5ba1a;
}
.form_wrapper input[type="submit"] {
	background:#f5ba1a;
	height:50px;
	line-height:50px;
	width:100%;
	border:none;
	outline:none;
	cursor:pointer;
	color:#fff;
	font-size:1.2em;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}
.form_wrapper input[type="submit"]:hover, .form_wrapper input[type="submit"]:focus {
	background:#daa106;
}
.credit{
	position:relative;
	z-index:1;
	text-align:center;
	padding:15px;
	color:#f5ba1a;	
}
.credit a{
	color:#daa106;	
}
@media (max-width: 600px) {
.form_wrapper .col_half {
	width:100%;
	float:none;
}
.form_wrapper label {
	margin:10px 0;
}
}
-------------------------------------------

#contact-bar {
  background-color: aqua;
}

#contact-bar a {
  color: white;
  text-decoration: none;
}

#contact-bar ul li{
  padding:20px;
  font-size: 200%;
}

#contact-bar ul li:hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
#lab_social_icon_footer {
  padding: 10px 230px;
  background-color:greenyellow;
    margin-top: 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#lab_social_icon_footer a {
  color: #333;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}